.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card {
  max-width: 413px;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  max-width: 353px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__like-btn {
  background-image: url("../images/heart.svg");
  height: 20px;
  width: 23px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-size: contain;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 235px;
  }
}
